
			<ul id="t_nav" class="d-flex justify-content-between list-unstyled">
				<li>
					<ul class="d-flex justify-content-between list-unstyled">
						<li><a href="#" class="top_hover" style="color: f22e00;">亲，请登录</a></li>
						<li><a href="register.html" class="top_hover">免费注册</li>
						<li><a href="#" class="top_hover">手机逛淘宝</li>
					</ul>
				</li>
				<li>
					<ul class="d-flex justify-content-between list-unstyled">
						<li>
							<a href="#" class="top_hover"> 淘宝网首页 </a>
						</li>
						<li style="width: 8%;">
							<div class="index_hover">
								<a href="#" class="top_hover">&nbsp;&nbsp;我的淘宝<span class="glyphicon glyphicon-menu-down nav_tubiao"></span></a>
								<ul class="index_content" class=" nav nav-pills nav-stacked list-unstyled">
									<li class="list-unstyled"><a class="nav-link" style="white-space: nowrap;">已经买到的宝贝</a></li>
									<li><a class="nav-link">我的足迹</a></li>
								</ul>
							</div>
						</li>
						<li><img src="../img/header/shop_car1.png" width="14px" /><a href="#" class="top_hover"> 购物车 </a></li>
						<li style="width: 8%;">
		
							<div class="index_hover" onmouseover="show(this)" onmouseout="display(this)">
								<a href="#" class="top_hover"><span class="glyphicon glyphicon-star nav_tubiao"></span>收藏夹 <span class="glyphicon glyphicon-menu-down nav_tubiao"></span></a>
								<ul class="index_content" class="list-unstyled nav nav-pills nav-stacked">
									<li style="list-style: none;"><a class="nav-link" style="white-space: nowrap;">收藏的宝贝</a></li>
									<li style="list-style: none;"><a class="nav-link">收藏的店铺</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#" class="top_hover">商品分类</a></li>
						<li style="width: 8%;">
		
							<div class="index_hover" onmouseover="show(this)" onmouseout="display(this)">
								<a href="#" class="top_hover">卖家中心<span class="glyphicon glyphicon-menu-down nav_tubiao"></span></a>
								<ul class="index_content" class="list-unstyled nav nav-pills nav-stacked">
									<li style="list-style: none;"><a class="nav-link" style="white-space: nowrap;">免费开店</a></li>
									<li style="list-style: none;"><a class="nav-link">已卖出宝贝</a></li>
									<li style="list-style: none;"><a class="nav-link">出售中的宝贝</a></li>
									<li style="list-style: none;"><a class="nav-link">卖家服务市场</a></li>
									<li style="list-style: none;"><a class="nav-link">卖家培训中心</a></li>
									<li style="list-style: none;"><a class="nav-link">体检中心</a></li>
									<li style="list-style: none;"><a class="nav-link">问商友</a></li>
								</ul>
							</div>
		
						</li>
						<li style="width: 8%;">
							<div class="index_hover" onmouseover="show(this)" onmouseout="display(this)">
								<a href="#" class="top_hover">联系客服<span class="glyphicon glyphicon-menu-down nav_tubiao"></span></a>
								<ul class="index_content" class="list-unstyled nav nav-pills nav-stacked">
									<li style="list-style: none;"><a class="nav-link" style="white-space: nowrap;">消费者客服</a></li>
									<li style="list-style: none;"><a class="nav-link">卖家客服</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#" class="top_hover"><span class="glyphicon glyphicon-menu-hamburger nav_tubiao"></span>网站导航<span
								 class="glyphicon glyphicon-menu-down nav_tubiao"></span></a></li>
					</ul>
		
				</li>
			</ul>
	